src/main/mule/calculatorapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8ed3247a-f1a6-42d9-839a-1a03c00c2bb9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calculatorapiFlow" doc:id="4cedc600-dcb5-4a5e-8d8b-4c78814f74c7" >
		<http:listener doc:name="Listener" doc:id="4a9bb930-ee85-40ad-a622-7a79d6960d70" config-ref="HTTP_Listener_config" path="/subApi"/>
		<ee:transform doc:name="Transform Message" doc:id="da9b49b9-3537-42da-be14-497e02fe1f95" >
			<ee:message >
				<ee:set-payload ><![CDATA[attributes.queryParams.fname- attributes.queryParams.lname]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8a8a1ffb-845a-4c2c-96f5-a963c615dfdf" message="#[payload]"/>
	</flow>
</mule>
